<div class="content-wrapper">

    <div class="title">Hello Jhon!</div>


    <div class="diagrams-wrapper">
        <div class="image-wrapper">
            <img [src]="getImage('sales')">
        </div>
        <div class="image-wrapper">
            <img [src]="getImage('reports')">
        </div>
    </div>

    <div class="analytics-wrapper">
        <div class="image-wrapper">
            <img [src]="getImage('tasks')">
        </div>
        <div class="image-wrapper">
            <img [src]="getImage('messages')">
        </div>
        <div class="image-wrapper">
            <img [src]="getImage('activity')">
        </div>
    </div>


</div>