
<div class="header-manu-wrapper">
    <i class="material-icons side-arrow-icon">play_arrow</i>
    <i class="material-icons reorder-icon">reorder</i>
    <i class="material-icons search-icon">search</i>

    <div class="round-button-circle-wrapper">

        <div class="round-button-circle">
            <i class="material-icons add-icon">add</i>
            <span class="round-button-text">Add project</span>
        </div>
    </div>

    <i class="material-icons email-icon">email</i>

    <div class="notifications-wrapper">
        <div class="round-button-notifications">3</div>
        <i class="material-icons notifications-icon">notifications</i>
    </div>

    <div>
        <i class="material-icons profile-icon">child_care</i>
        <i class="material-icons arrow-icon">play_arrow</i>
    </div>
</div>